DB_PROVIDER=sqlite
DATABASE_PATH=./data/chatvault.db
DATABASE_URL=postgres://postgres:postgres@localhost:5432/chatvault
SESSION_SECRET=change-me-in-dev
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c21hcnQtYnVjay00MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_LUeVbK2EeOn7XW2esOdpleSpgfF3UlFrcgzikxV5Ev
SEARCH_PROVIDER=sqlite
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=xyz
